*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1,h2,h3,b{
    font-family: "Playfair Display";
}
body{
    font-family:"Raleway";
    font-size:medium;
    font-weight: 400;
    line-height:1.5em;
     background-color: #1a1a1a;
     color:#dcdcdc;
     word-spacing: 0.2rem;
     letter-spacing: 0.5px;
}
#home{
    background-color: #2c2c2c;
    width:100%;
    padding: 0;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px #D4AF37;
}
button{
    background-color: #D4AF37;
    outline: none;
    color: #1a1a1a;
    padding: 0.5rem 1.5rem;
    border: none ;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s;
}
button:hover{
    background-color: #b9901d;
    color: #fff;
    transform:scale(1.05);
}

.logo{
    border:2px 2px solid #D4AF37;
    margin:5px;
    padding:5px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 20px;
    background-color:#D4AF37;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0px;
    color: #fff;
    font-family: "Playfair Display";
}
.nav-links{
    display: flex;
    list-style: none;
    gap:40px;
    justify-content: right;
    padding-right: 20px;
    font-family: "Playfair Display";
   
}
.nav-links a{
    text-decoration: none;
    font-weight: 500;
    color:#D4AF37;
  transition:color 0.3s;
}
.nav-links a:hover{
    color:#B9901D;
}
.flexbox-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:40px;
    padding: 60px 40px;
    margin: auto;
    max-width: 1200px;
    flex-wrap: wrap;
   
}
.text{
    color:#fff;
    font-style: italic;
    padding-bottom: 10px;
}
.text-p{
    padding-bottom: 10px ;
}
.flexbox-item1{
    flex: 1.2;
    min-width: 300px;
}
.flexbox-item2{
    flex: 1;
    min-width: 280px;
}
.flexbox-item2 img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.first-container{
    display: flex;
    margin: auto;
   padding: 60px 20px;
    gap:40px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
}
.first-text{
    flex:1;
    min-width:280px;
    width:50%;
}
#story{
    font-weight: 500;
    font-size: x-large;
   color: #fff;
   padding-bottom: 15px;
}
.fir{
    flex:1;
    width:50%;
}
.second-container{
    display: flex;
    margin: auto;
   padding: 60px 40px;
    gap:40px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding-bottom: 0px;
}
.second-text{
     flex:1;
    min-width:280px;
    width:50%;
}
.sec{
    flex:1;
    width:50%;
}
.btn-1{
    display: flex;
    align-items:left;
    justify-content: left;
    outline: none;
    text-decoration: none;
    padding-left:220px;
    padding-bottom: 50px;
    flex-grow: none;
    padding-top: 0px;
    
}
#shop{
    width:100%;
    display: flex;
    margin: auto solid #2c2c2c;
    gap:30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0px;
    background-color: #2c2c2c;
  
   
}
.shop-text h3{
    color:#fff;

}
.shop-text h2{
    display: flex;
    font-weight: 500;
    font-size: x-large;
    margin: auto;
    margin-top: 15px;
   padding-left: 45px ;
   padding-top: 15px;
   padding-bottom: 10px;
    gap:40px;
    justify-content: center;
    align-items: center;
   color:#b9901d;
    flex-wrap: wrap;
    background-color: #2c2c2c;
    
   
}

.grid-container{
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(4,1fr);
    gap:1.0rem;
    max-width: 1500px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 40px;
    
   

}
.grid-card-1 {
    width:350px;
    padding: 15px;
    border: 10px;
    display: grid;
    flex-wrap: wrap;
  

}
.grid-card-1 img{
width:100%;
height:400px ;
display: block;
object-fit: cover;
padding-bottom: 15px;
justify-content: space-between;
align-items: center;

}
.grid-card-1 button{
    margin-top: auto;
    align-items: center;
    max-width: 200px;


}
.price{
    color:#D4AF37;
    font-weight: 500;
}
 .revew{
   
     font-size:normal;
     margin: auto;
     background-color: #1a1a1a;
     width:100%;
     padding: 60px 40px;
}
.review-text{
     display: flex;
    font-weight: 200;
    font-size: x-large;
    margin: auto;
    margin-top: 15px;
    padding-left: 45px ;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    color:#fff;
    flex-wrap: wrap;
    width:100%;
    background-color:#2c2c2c;
}
.reviews-container{
    background-color: #2c2c2c;
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    padding: 2rem;
    justify-content: space-between;

}
#grid-box-1{
   background-color:#2c2c2c;
    
}
.grid-box-1 img{
    border:5px;
    padding:20px;
    border-radius:10px;
}



#footer{
    background-color: #1a1a1a;
    display: grid;
}
#contact{
    
    margin: auto;
    padding: 60px 40px;
    gap:40px;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
  
}
#contact h3{
    font-weight: 600;
    font-size: x-large;
    color:#fff;
    justify-content: center;
    align-items:center ;
    margin-bottom: 20px;
    display: flex;
    
   
}
#contact p{
    font-weight: 400;
    font-size: medium;
    color:#fff;
    font-style: oblique;
    padding-left: 20px;
   
}
.form-container{
    border:5px;
    border-radius: 15px ;
    height:60vh;
    background-color: #2c2c2c;
    padding: 60px 40px;
    margin-top: 20px;
   border-bottom: 0px;
   width:100%;
  
}
.head{
    font-weight: 600;
    word-spacing: 0.2rem;
    margin-top:30px ;
    color: #b9901d;
    text-align: center;
}
.cont{
    padding-left: 30px;
}
#sign{
    text-align: left;
    margin-top: 40px;
    padding: 10px 0px;
    display: flex;
    
}

.style{
    border: 0px;
    border-radius: 5px;
    width:75%;
    height:1.5rem;
}
.form-submit{
    padding:20px 50px;
    border: none;
    width:80%;
    
}
button {
    border: none;
    padding: 10px;
}
#sign{
    justify-content: center;
    align-items: center;
}
.cont{
    justify-content: center;
    align-items: center;
}
.cont label{ 
    text-align: center;
    color: #fff;
    font-size: medium;
    align-content: center;
    justify-content: center;
}
.cont input{
    outline: none;
    display: block;
    width: 600px;
   
}
.form-select{
    outline: none;
    display:block;
}
#footer{
    margin:auto;
    padding:gopx 40px;
}
.grid-footer{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin:20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.nav-footer li,a{
     list-style: none;
     text-decoration: none;
     color:#fff
}
.nav-footer a:hover{
    color:#B9901D;
    text-decoration: underline;
}
.foot{
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 60px 40px;
}





























/*Tablet Layout*/
@media(min-width:767px)and (max-width:1400px){

    .grid-container{
        grid-template-columns: repeat(2,1fr);
        padding: 80px 40px;
        column-gap: 60px;
        padding-right: 20px;
        width:100%;
        margin: auto;
    
    }
 
}
/*Mobile layout*/
@media(max-width:767px){
    .grid-container{
        grid-template-columns:repeat(1,1fr) ;
    }

    .nav { display: none;}
}